<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/home" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Définir l'emplacement</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row class="ion-padding-top">
        <ion-col size="9" class="ion-no-padding">
            <ion-searchbar mode="ios" placeholder="Rechercher un emplacement"></ion-searchbar>
        </ion-col>
        <ion-col size="1" class="ion-no-padding ion-margin-top">
            <img src="../../assets/images/gps.svg" height="16px" width="16px">
        </ion-col>
        <ion-col size="2" class="ion-no-padding ion-margin-top">
            <div class="detect">Détecter</div>
        </ion-col>
    </ion-row>
    <ion-item lines="none">
        <div slot="start" class="img_div"><img src="../../assets/images/search.svg" height="15px" width="15px"></div>
        <ion-label>
            <div>Los Feliz <span class="ion-float-end ion-padding-end">509 m</span></div>
            <p class="ion-no-margin"> New York, United States</p>
        </ion-label>
    </ion-item>
    <div class="border"></div>
    <ion-item lines="none">
        <div slot="start" class="img_div"><img src="../../assets/images/search.svg" height="15px" width="15px"></div>
        <ion-label>
            <div>Los Feliz <span class="ion-float-end ion-padding-end">509 m</span></div>
            <p class="ion-no-margin"> New York, United States</p>
        </ion-label>
    </ion-item>
    <div class="border"></div>
    <ion-item lines="none">
        <div slot="start" class="img_div"><img src="../../assets/images/search.svg" height="15px" width="15px"></div>
        <ion-label>
            <div>Los Feliz <span class="ion-float-end ion-padding-end">509 m</span></div>
            <p class="ion-no-margin"> New York, United States</p>
        </ion-label>
    </ion-item>
    <div class="border"></div>
    <ion-item lines="none">
        <div slot="start" class="img_div"><img src="../../assets/images/search.svg" height="15px" width="15px"></div>
        <ion-label>
            <div>Los Feliz <span class="ion-float-end ion-padding-end">509 m</span></div>
            <p class="ion-no-margin"> New York, United States</p>
        </ion-label>
    </ion-item>
</ion-content>