<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-title mode="md">Paiment</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

  <ion-item>
    <ion-label postion="end"><ion-icon name="card-outline"></ion-icon></ion-label>
    <ion-input name="card-Number" type="tel" pattern="[0-9]*" minlength="16" maxlength="16" [(ngModel)]="cardNumber" requiered></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-select name="mois" interface="action-sheet" placeholder="Mois" [(ngModel)]="month">
      <ion-select-option *ngFor="let m of months" value="{{m.value}}">{{m.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select  name="annee" interface="action-sheet" placeholder="année" [(ngModel)]="year">
      <ion-select-option  *ngFor="let y of years" value="{{y}}" >{{y}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label postion="end">CVV</ion-label>
    <ion-input name="cvv" type="tel" pattern="[0-9]*" minlength="3" maxlength="3" [(ngModel)]="cvv"></ion-input>
  </ion-item>

</ion-list>
<ion-button expand="block" (click)="pay()" class="ion-margin-top" >Ajouter</ion-button>

</ion-content>