<ion-content>
    <div>
        <ion-buttons slot="start" (click)="back()">
            <ion-back-button defaultHref="{{pathBack}}" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
    </div>
    <div id="map8" class="map"></div>
    <ion-item lines="none">
        <img slot="start" class="salon_img" src="../../assets/images/salon1.png">
        <ion-label>
            <p class="salon_name">{{salon?.name}}</p>
            <p class="address">{{salon?.address}}</p>
            <div class="rate_div">
                <div class="bottom --flex-row-j!sb">
                    <h3 class="rate_h">
                        <ion-icon name="star" [ngClass]="rate >= 1 ? 'yellow-star' :'gray-star'">
                        </ion-icon>
                        <span class="ion-margin-bottom">4.1</span>
                        <img class="circle_icon" src="../../assets/images/circle.svg" height="6px" width="6px">
                        <span class="ion-text-right">1.6</span>
                    </h3>

                </div>
            </div>
        </ion-label>
    </ion-item>
</ion-content>