<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/profile" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">A propos de Flexx</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
    <div>
        <p class="ion-padding-bottom">Flexx Version 1.0.0</p>
        <p class="ion-padding-bottom"><img src="../../assets/images/BEAUTILOCKS.svg" height="35px" width="250px"> </p>
        <span>©Flexx 2021</span>
        <p>Développer avec ❤️ par ANDRENA Solutions</p>
    </div>

</ion-content>