<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/profile" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Editer le profil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/user.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Nom complet</div>
            <ion-input type="text" placeholder="Votre nom complet" [(ngModel)]="name"></ion-input>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/at.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Email</div>
            <ion-input type="email" placeholder="Votre Email" [(ngModel)]="email"></ion-input>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/gender.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Civilité</div>
            <ion-row class="ion-padding-top">
                <ion-col size="4" class="ion-no-padding"> <label class="container">M
                        <input *ngIf="isSexe('Homme')" checked="checked" type="radio" name="radio">
                        <input *ngIf="!isSexe('Homme')" type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label></ion-col>
                <ion-col size="4" class="ion-no-padding"> <label class="container">F
                        <input type="radio" *ngIf="isSexe('Femme')" checked="checked" name="radio">
                        <input type="radio" *ngIf="!isSexe('Femme')" name="radio">
                        <span class="checkmark"></span>
                    </label></ion-col>
            </ion-row>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/phone.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Tel.</div>
            <ion-input type="number"  [(ngModel)]="phone"></ion-input>
        </ion-label>
    </ion-item>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button expand="full" (click)="update()">Mettre à jour les informations</ion-button>
</ion-footer>