ion-header {
    ion-toolbar {
        height: 55px;
        --background: var(--background-theme);
        ion-buttons {
            font-size: 17px;
            color: var(--ion-black);
        }
        ion-title {
            font-family: var(--black-font);
            font-size: 17px;
            color: var(--ion-black);
        }
    }
}

ion-content {
    --background: var(--background-theme);
    --padding-top: 54px;
    ion-item {
        height: 80px;
        width: 307px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 10px;
        border: 0.3px solid white;
        box-shadow: 0px 0px 10px 1px #eeeeee;
        border-radius: 15px;
        ion-label {
            padding-top: 15px;
            padding-bottom: 18px;
            margin: 0;
        }
        ion-input {
            border: none;
            font-family: var(--regular-font);
            font-size: 15px;
            --padding-start: 0;
            --placeholder-opacity: 1;
        }
        .name {
            color: var(--gray-color);
            font-family: var(--regular-font);
            font-size: 13px;
        }
    }
    .container {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        font-family: var(--regular-font);
        font-size: 15px;
        color: var(--gray-color);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #eee;
        border-radius: 50%;
    }
    .container:hover input~.checkmark {
        background-color: var(--ion-black);
    }
    .container input:checked~.checkmark {
        background-color: #17A937;
    }
    .checkmark:after {
        content: "\2714";
        position: absolute;
        display: none;
        background-color: #17A937;
    }
    .container input:checked~.checkmark:after {
        display: block;
    }
    .container .checkmark:after {
        top: 0px;
        left: 4px;
        height: 0px;
        border-radius: 50%;
        color: white;
    }
    .message {
        color: var(--gray-color);
        font-family: var(--regular-font);
        margin-bottom: 64px;
    }
    .login {
        color: var(--ion-black);
        font-family: var(--bold-font);
    }
}

ion-footer {
    ion-button {
        --background: var(--theme-color);
        --color: white;
        height: 50px;
        --padding-top: 16px;
        --padding-bottom: 16px;
        text-transform: none;
        overflow: hidden;
        border-radius: none;
        margin: 0;
        font-family: var(--regular-font);
    }
}