<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-back-button defaultHref="" text="" mode="md">
        <img src="../../assets/images/back.svg" />
      </ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{salon?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-slides pager="true">
    <ion-slide *ngFor="let banner of thesalon?.slider">
      <div class="slide">
        <img src="http://157.230.232.108{{ banner?.url }}" height="200px" width="340px" />
      </div>
    </ion-slide>
  </ion-slides>
  <div class="address ion-padding-start ion-padding-top">
    {{salon?.adresse}}
  </div>
  <p class="rate_div ion-padding-start">
    <span class="rate_h">
      <ion-icon name="star" [ngClass]="salon?.rate >= 1 ? 'yellow-star' :'gray-star'">
      </ion-icon>
      <ion-icon name="star" [ngClass]="salon?.rate >= 2 ? 'yellow-star' :'gray-star'">
      </ion-icon>
      <ion-icon name="star" [ngClass]="salon?.rate >= 3 ? 'yellow-star' :'gray-star'">
      </ion-icon>
      <ion-icon name="star" [ngClass]="salon?.rate >= 4 ? 'yellow-star' :'gray-star'">
      </ion-icon>
      <ion-icon name="star" [ngClass]="salon?.rate >= 5 ? 'yellow-star' :'gray-star'">
      </ion-icon><span class="ion-text-right">2.6km</span>
    </span>

  <div class="border_bottom"></div>
  <div class="address ion-padding-start">
    {{salon.description}}
  </div>
  <div class="border_bottom"></div>
  <div class="section" [ngClass]="{'fix-segment': fixSegment==2}">
    <ion-segment mode="md" [(ngModel)]="select" value="all">
      <ion-segment-button mode="md" value="service">Service
        <div *ngIf="select == 'service'" class="seg-button"></div>
      </ion-segment-button>
      <ion-segment-button mode="md" value="review">Avis
        <div *ngIf="select == 'review'" class="seg-button2"></div>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="border"></div>
  <div [ngSwitch]="select">
    <div *ngSwitchCase="'service'">
      <div>
        <div (click)="show()" class="main_head ion-padding-start ion-padding-top ion-padding-bottom">
          Hair Cut
          <span class="ion-padding-start"><img [src]="hair" height="10px" width="15px" /></span>
        </div>
        <div *ngIf="isShow">
          <ion-row class="services ion-padding-start" *ngFor="let item of hairArray">
            <ion-col size="9" class="service_name ion-no-padding">{{ item?.name }}</ion-col>
            <ion-col size="2" class="price ion-no-padding">{{ item?.price }}</ion-col>
            <ion-col size="1" class="ion-no-padding">
              <img src="../../assets/images/plus.svg" height="18px" width="18px" />
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <div [hidden]="select !='review'">
      <ion-card mode="ios ">
        <ion-card-content>
          <canvas #barChart></canvas>
        </ion-card-content>
      </ion-card>
      <div class="review_head ion-padding-start ion-padding-bottom">
        Total Review (810)
      </div>

      <ion-row class="ion-padding-top ion-margin-bottom" *ngFor="let item of review ">
        <ion-col size="3" class="ion-no-padding ion-padding-start">
          <img src="{{ item?.img }}" height="35px" width="35px" /><br /><span class="rate_div">
            <img class="star_img" src="../../assets/images/star.svg " height="11px " width="11px " />
            {{ item?.rate }}
          </span>
        </ion-col>
        <ion-col size="9 " class="details_div ion-padding-end ion-padding-start">
          <ion-label>
            <p class="name ion-no-margin">
              {{ item?.name }}<span class="ion-float-right">
                {{ item?.time }}</span>
            </p>
            <p class="detail ion-no-margin">{{ item?.desc }}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-item lines="none">
    <ion-label>
      <p class="detail">Smoothed Out Pixie, Ruby Fusion, Cust...</p>
      <p class="total_price">$80</p>
    </ion-label>
    <ion-button slot="end" expand="block" (click)="continue()">Continue</ion-button>
  </ion-item>
</ion-footer>