<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title mode="ios">Partager avec des amis</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="none">
        <div slot="start"><img src="../../assets/images/whatsapp.svg" height="24px" width="24px"></div>
        <div>Whatsapp</div>
    </ion-item>
    <ion-item lines="none">
        <div slot="start"><img src="../../assets/images/facebook.svg" height="24px" width="24px"></div>
        <div>Facebook</div>
    </ion-item>
    <ion-item lines="none">
        <div slot="start"><img src="../../assets/images/messanger.svg" height="24px" width="24px"></div>
        <div>Messanger</div>
    </ion-item>
    <ion-item lines="none">
        <div slot="start"><img src="../../assets/images/gmail.svg" height="24px" width="24px"></div>
        <div>Gmail</div>
    </ion-item>
    <ion-item lines="none">
        <div slot="start"><img src="../../assets/images/instagram.svg" height="24px" width="24px"></div>
        <div>Instagram</div>
    </ion-item>
    <ion-item lines="none">
        <div slot="start"><img src="../../assets/images/skype.svg" height="24px" width="24px"></div>
        <div>Skype</div>
    </ion-item>
    <ion-item lines="none">
        <div slot="start"><img src="../../assets/images/snapchat.svg" height="24px" width="24px"></div>
        <div>Snapchat</div>
    </ion-item>
</ion-content>