<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start" (click)="close()">
            <ion-back-button defaultHref="" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Langue</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-radio-group value="English" mode="ios">
        <ion-item lines="none">
            <div>Français<span>(Par Défaut)</span></div>
            <ion-radio slot="end" value="Français"></ion-radio>
        </ion-item>
        <div class="border_bottom"></div>
        <ion-item lines="none">
            <div>English</div>
            <ion-radio slot="end" value="English"></ion-radio>
        </ion-item>
        <div class="border_bottom"></div>
        <ion-item lines="none">
            <div>हिन्दी</div>
            <ion-radio slot="end" value="हिन्दी"></ion-radio>
        </ion-item>
        <div class="border_bottom"></div>
        <ion-item lines="none">
            <div>日本人</div>
            <ion-radio slot="end" value="日本人"></ion-radio>
        </ion-item>
        <div class="border_bottom"></div>
        <ion-item lines="none">
            <div>中文</div>
            <ion-radio slot="end" value="中文"></ion-radio>
        </ion-item>
        <div class="border_bottom"></div>
        <ion-item lines="none">
            <div>اردو</div>
            <ion-radio slot="end" value="اردو"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-content>