<ion-content class="ion-text-center">
    <div>
        <p class=""><img src="../../assets/images/success.svg" height="160px" width="155px"> </p>
        <p class="book_success ion-padding-bottom ">Your appointment is booked successfully</p>
        <p class="ion-padding-bottom ion-padding-start ion-padding-end">You can check your booked appointments at
            <br><span (click)="seeBooking()"> My
                Appointment</span> section anytime
        </p>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button expand="full" (click)="gotoHome()">Go to Home</ion-button>
</ion-footer>