<ion-content>
    <img class="loginLogo" src="../../assets/images/beautilock.svg">
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/at.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Email</div>
            <div class="">
                <ion-input type="" placeholder="Enter Your Email"></ion-input>
            </div>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/padlock.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Password</div>
            <div class="">
                <ion-input type="" placeholder="Enter Your Password"></ion-input>
            </div>
        </ion-label>
    </ion-item>
    <div class="forgot_div ion-text-center">
        <div class="remember ion-text-left ion-padding-start">
            <div (click)="change()"> <img class="check ion-margin-start" [src]="check">Remember Me <span class="forgot ion-text-right ion-padding-end ion-margin-end" (click)="forgot()">Forgot
                    Password?</span></div>
        </div>
    </div>
    <ion-button expand="full" (click)="login()">Login </ion-button>
    <div class="ion-text-center">
        <div class="message">Don't have an account ? <span class="createNew" (click)="register()">Create New
                Account</span> </div>
    </div>
</ion-content>