ion-content {
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 500;

  #info {
      border: 2px solid black;
      margin: 0 15px 20px;
  }

  #cancel {
      display: block;
      width: calc(100% - 30px);
      height: 40px;
      margin: 5px 15px 0;
      box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
          inset 0 1px 0 #ffb9f6;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }

  #formPay {
      fieldset {
          margin: 0 15px 20px;
          padding: 0;
          border-style: none;
          background-color: #7795f8;
          box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
              inset 0 1px 0 #829fff;
          border-radius: 4px;
      }

      .row {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          margin-left: 15px;
      }

      input:-webkit-autofill {
          -webkit-text-fill-color: #fce883;
          transition: background-color 100000000s;
          -webkit-animation: 1ms void-animation-out;
      }

      .StripeElement--webkit-autofill {
          background: transparent !important;
      }

      .StripeElement {
          width: 100%;
          padding: 11px 15px 11px 0;
      }

      input {
          width: 100%;
          padding: 11px 15px 11px 0;
          color: #fff;
          background-color: transparent;
          -webkit-animation: 1ms void-animation-out;
      }

      button {
          display: block;
          width: calc(100% - 30px);
          height: 40px;
          margin: 40px 15px 0;
          background-color: #f6a4eb;
          box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
              inset 0 1px 0 #ffb9f6;
          border-radius: 4px;
          color: #fff;
          font-weight: 600;
          cursor: pointer;
      }
      button:active {
          background-color: #d782d9;
          box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
              inset 0 1px 0 #e298d8;
      }
      
      .error svg .base {
          fill: #fff;
      }
      
      .error svg .glyph {
          fill: #6772e5;
      }
      
      .error .message {
          color: #fff;
      }
      
      .success .icon .border {
          stroke: #87bbfd;
      }
      
      .success .icon .checkmark {
          stroke: #fff;
      }
      
      .success .title {
          color: #fff;
      }
      
      .success .message {
          color: #9cdbff;
      }
      
      .success .reset path {
          fill: #fff;
      }
  }
}


