<ion-content>
    <ion-tabs mode="ios">
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home">
                <ion-icon src="../../assets/images/logo.svg"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="search-layout">
                <ion-icon src="../../assets/images/pin.svg"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="appointment">
                <ion-icon src="../../assets/images/calendar.svg"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="profile">
                <img src="../../assets/images/profile.png" height="22px" width="22px" style="border-radius: 10px;">
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>