<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="register" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Changer de mot de passe</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-text-center note_div">
        Set your new password and forgot old one
    </div>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/padlock.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Ancien mot de passe</div>
            <ion-input type="password" placeholder="Mot de passe actuel" required [(ngModel)]="password"></ion-input>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/padlock.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Nouveau mot de passe</div>
            <ion-input type="password" placeholder="Nouveau mot de passe" required [(ngModel)]="newPassword"></ion-input>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/padlock.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Confirmer le nouveau mot de passe</div>
            <ion-input type="password" placeholder="Confirmer le nouveau mot de passe" required  [(ngModel)]="confirmPassword"></ion-input>
        </ion-label>
    </ion-item>
    <ion-button expand="full" (click)="changePass()">Changer de mot de passe</ion-button>
</ion-content>