<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="register" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Change Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-text-center note_div">
        Set your new password and forgot old one
    </div>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/padlock.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">New Password</div>
            <ion-input type="" placeholder="Enter New Password"></ion-input>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/padlock.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Confirm Password</div>
            <ion-input type="" placeholder="Re-Enter Password"></ion-input>
        </ion-label>
    </ion-item>
    <ion-button expand="full" (click)="goNext()">Change Password</ion-button>
</ion-content>