<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="day" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Rendez-vous</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-padding-top ion-padding-start ion-padding-end">
        <ion-calendar locale="fr" [(ngModel)]="date" (click)="onChange($event)" [type]="type" [format]="'DD-MM-YYYY'">
        </ion-calendar>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button color="danger"  expand="full" (click)="continue()">continuer</ion-button>
</ion-footer>