<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">
            <ion-input type="text" placeholder="Tapez quelque chose..."></ion-input>
        </ion-title>
        <img src="../../assets/images/close.svg" slot="end" height="16px" width="16px" class="ion-margin-end">
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="main_head ion-padding-start">Résultats de recherche {{ searchSalon.length }}<span
            class="ion-float-right ion-margin-end">
            <img (click)="filter()" src="../../assets/images/filter.svg" height="18px" width="18px"></span>
    </div>
    <div class="salon-item"  *ngFor="let item of searchSalon" style="background-image:url('http://157.230.232.108{{ item?.Logo?.url }}');background-size:cover;">
        <ion-avatar>
            <img src="http://157.230.232.108{{ item?.Logo?.url }}">         
        </ion-avatar> 
        <div class="salon-infos">
            <div>
                <a class="salon-name" (click)="salonProfile(item)" >{{ item?.name }}</a>                        
                <p class="salon-addr">{{ item?.address }}</p>
            </div>                           
        </div>    
    </div>
</ion-content>