<ion-header>
  <ion-toolbar>
    <ion-title>Annulation de rendez-vous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div>
      <h1 class="ion-padding-bottom ">Votre demande d'annulation a bien été pris en compte.</h1>
      <h1 class="ion-padding-bottom ">Votre paiement sera remboursé dans 5-7 jours</h1>
      <p class="ion-padding-bottom ion-padding-start ion-padding-end">vous allez être redirigé automatiquement dans 5 secondes</p>
  </div>
</ion-content>
