<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" text="" mode="md" (click)="closeModal()">
        <img src="../../assets/images/back.svg">
      </ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Filtres</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_head ion-padding-start ion-padding-top">Trier par
  </div>
  <ion-row class="ion-padding-top">
    <ion-col size="6" class="ion-no-padding"> <label class="checkbox-button">
        <input type="checkbox" class="checkbox-button__input" checked>
        <span class="checkbox-button__control"></span>
        Le plus populaire
      </label></ion-col>
    <ion-col class="ion-no-padding" size="6"> <label class="checkbox-button">
        <input type="checkbox" class="checkbox-button__input">
        <span class="checkbox-button__control"></span>
        Prix croissant
      </label></ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-no-padding" size="6"> <label class="checkbox-button">
        <input type="checkbox" class="checkbox-button__input">
        <span class="checkbox-button__control"></span>
        Prix décroissant
      </label></ion-col>
  </ion-row>
  <div class="border_bottom"></div>


  <div class="main_head ion-padding-start ion-padding-top">Service pour
  </div>
  <ion-row class="ion-padding-top">
    <ion-col size="3" class="ion-no-padding" *ngFor="let item of servicesFor"> 
      <label class="container">{{item}}
        <input *ngIf="item==serviceFor" type="radio" [value]="item" [(ngModel)]="serviceFor"checked="checked" name="radio">
        <input *ngIf="item!=serviceFor" type="radio" [value]="item" [(ngModel)]="serviceFor" name="radio">
        <span class="checkmark"></span>
      </label>
    </ion-col>
  </ion-row>




  <div class="border_bottom"></div>
  <div class="main_head ion-padding-start ion-padding-top ion-padding-bottom">Services
  </div>
  <ion-row class="ion-padding-bottom">
    <div class="service-filtre" *ngFor="let item of services"> 
      <ion-button  mode="md" fill="outline" [ngClass]="{'selected' : isServSelect(item?.id)}" (click)="addServiceFiltre(item?.id)">{{ item?.name }}</ion-button>
    </div>
  </ion-row>


  <div class="border_bottom"></div>
  <div class="main_head ion-padding-start ion-padding-top ion-padding-bottom">Avis<span
      class="ion-float-right ion-margin-end">
      ({{rate}}.0 et plus)</span>
  </div>
  <div class="bottom --flex-row-j!sb">
    <h3 class="rate_h">
      <ion-icon name="star" [ngClass]="rate >= 1 ? 'yellow-star' :'gray-star'" (click)="setRate(1)">
      </ion-icon>
      <ion-icon name="star" [ngClass]="rate >= 2 ? 'yellow-star' :'gray-star'" (click)="setRate(2)">
      </ion-icon>
      <ion-icon name="star" [ngClass]="rate >= 3 ? 'yellow-star' :'gray-star'" (click)="setRate(3)">
      </ion-icon>
      <ion-icon name="star" [ngClass]="rate >= 4 ? 'yellow-star' :'gray-star'" (click)="setRate(4)">
      </ion-icon>
      <ion-icon name="star" [ngClass]="rate >= 5 ? 'yellow-star' :'gray-star'" (click)="setRate(5)">
      </ion-icon>
    </h3>
  </div>
  <div class="border_bottom"></div>
  <div class="main_head ion-padding-start ion-padding-top ion-padding-bottom">Votre budget<span
      class="ion-float-right ion-margin-end">
      10 - 350€</span>
  </div>
  <ion-range id="dual-range" dual-knobs>
  </ion-range>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button mode="md" class="apply" (click)="reset()">Reset</ion-button>
  <ion-button mode="md" class="apply" (click)="setFiltre()">Valider</ion-button>
</ion-footer>