ion-header {
    ion-toolbar {
        height: 55px;
        ion-buttons {
            font-size: 17px;
            color: var(--ion-black);
        }
        ion-title {
            font-family: var(--black-font);
            font-size: 17px;
            color: var(--ion-black);
        }
    }
}

ion-content {
    --background: var(--background-theme);

    .swiper-slide {
        display: block;
    }
    .swiper-slide img {
        max-height: 200px;
        max-width: 100%;
        min-width: 92%;
        pointer-events: none;
        margin-top: 15px;
        border-radius: 15px;
    }


    .barbeur-info {
        height: 100px;
        width: 90%;
        margin-left: 5%;
        box-shadow: inset; 
        border-radius: 15px;
        box-shadow: inset 0 0 1em white, 0 0 2em rgba(128, 128, 128,0.4);
        opacity: .75;
        position: relative;
        ion-badge{ 
            position: absolute;
            right: 0;
            color: white;
            .white-star {
                color: var(--fill-white);
            }
        }
        .address{
            position: absolute;
            bottom: 0;
        }
    }
    ion-card {
        background: #FAFAFA;
        box-shadow: none;
    }
    .description{
        font-size: 14px;
        word-spacing: normal;
        font-family: var(--regular-font);
        color: var(--gray-color);
        padding-right: 10px;
        text-align: inherit;
    }
    .service-list {
        img{
            height: 65px;
            width: 65px;
            border-radius: 50px;
        }
        .selected{
            border: 5px solid green;
        }
        .service-name{
            font-family: var(--regular-font);
            font-size: 11px;
            text-align: justify;
            font-style: italic;
            color: var(--gray-color);
        }
    }

}
