<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-back-button defaultHref="" text="" mode="md">
        <img src="../../assets/images/back.svg" />
      </ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{barber?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-slides pager="true">
    <ion-slide *ngFor="let banner of slider">
      <div class="slide">
        <img src="http://157.230.232.108{{ banner?.url }}" height="200px" width="340px" />
      </div>
    </ion-slide>
  </ion-slides>


  <div class="barbeur-info">
    <ion-grid>
      <ion-row>
        <ion-col  size="3">
          <ion-avatar>
            <img src="http://157.230.232.108{{logo?.url}}">         
          </ion-avatar> 
        </ion-col>
        <ion-col> 
          <ion-badge color="warning">
            <ion-icon name="star" class="white-star "></ion-icon>{{barber?.rate}}
          </ion-badge>

          <div class="address">
            <ion-icon name="location" class="white-star "></ion-icon>{{barber?.address}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div class="border_bottom"></div>
  <div class="description ion-padding-start">
    {{barber?.description}}
  </div>
  <div class="border_bottom"></div>
  <div class="section" [ngClass]="{'fix-segment': fixSegment==2}">
    <ion-segment mode="md" [(ngModel)]="select" value="all">
      <ion-segment-button mode="md" value="service">Service
        <div *ngIf="select == 'service'" class="seg-button"></div>
      </ion-segment-button>
      <ion-segment-button mode="md" value="review">Avis
        <div *ngIf="select == 'review'" class="seg-button2"></div>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="border"></div>

  <div [ngSwitch]="select">
    <div *ngSwitchCase="'service'">
      <div class="service-list">
        <ion-slides pager="false" scrollbar="false" [options]="serviceSlide">
          <ion-slide *ngFor="let service of services">

            <ion-card (click)="addService(service)">
              <ion-card-header>
                <ion-thumbnail>
                  <img  [ngClass]="{'selected' : isServSelect(service)}" src="http://157.230.232.108{{ service?.image.url }}">            
                </ion-thumbnail>  
              </ion-card-header>
              <ion-card-content>
                <P  class="service-name">{{service?.name}}</P>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>

        <ion-item>
          <ion-label position="stacked">Adresse du rendez-vous</ion-label>
          <ion-input name="adrs" value="address" [(ngModel)]='address'></ion-input>
        </ion-item>
        <ion-button slot="start" expand="block" (click)="reserver()">Prendre rendez-vous</ion-button>
      </div>
    </div>

    <div [hidden]="select !='review'">

    </div>

  </div>


                   
    <ion-fab vertical="bottom"  horizontal="end"  slot="fixed"> 
      <ion-fab-button color="success" (click)="chat()"> 
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>   
    </ion-fab>

</ion-content>
