ion-footer {

    .footer {
        width: 100%;
        .a {
            p{
                text-align: center;
                color:lightgray;
                font-style: oblique;
            }
            display: inline-block;
            width: 50%;
        }
    }
}