<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/appointment" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Mon rendez-vous</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="detail_div">
        <img class="salon_img" src="http://157.230.232.108{{ salon?.Logo?.url }}" slot="start"><br>
        <ion-label>
            <p class="salon_name">{{ salon.name}}</p>
            <p class="address">{{salon.address}}</p>
            <p class="rate_div">
                <img class="star_img" src="../../assets/images/star.svg" height="22px" width="22px">4.5<img class="circle_icon" src="../../assets/images/circle.svg" height="6px" width="6px"><span class="ion-text-right">2.6km</span>
            </p>
        </ion-label>
    </div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Heure du rendez-vous
    </div>
    <div class="time ion-padding-start">{{ appointment?.appointment_date  | date:'dd-MM-yyyy HH:mm' }}</div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Services que vous avez sélectionnés
    </div>
    <ion-row class="ion-padding-start" *ngFor="let s of service">
        <ion-col size="10" class="service_name ion-no-padding">{{s.name}}<br><span>(Facial)</span></ion-col>
        <ion-col size="2" class="price ion-no-padding">{{s.price}}</ion-col>
    </ion-row>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Détails de paiement<span class="ion-float-end ion-padding-end">Paiement en magasin</span>
    </div>
    <ion-row class="ion-padding-start">
        <ion-col size="10" class="service_name ion-no-padding">Facture totale</ion-col>
        <ion-col size="2" class="price ion-no-padding">{{price}}€</ion-col>
    </ion-row>
    <ion-row class="ion-padding-start">
        <ion-col size="10" class="service_name ion-no-padding">Frais de service</ion-col>
        <ion-col size="2" class="price ion-no-padding">5€</ion-col>
    </ion-row>
    <div class="main_head ion-padding-start ion-padding-top">Total<span class="total ion-float-end ion-padding-end">{{price}}€</span>
    </div>
    <div *ngIf="appointment?.status=='upcoming'" class="cancel ion-text-center ion-padding-top ion-padding-bottom">
        <ion-button expand="full" color="danger" (click)="cancelAppoint()">Annuler le rendez-vous</ion-button>
    </div>
    <div *ngIf="false" class="cancel ion-text-center ion-padding-top ion-padding-bottom">
        <ion-button expand="full" color="success" (click)="successAppoint()">Valider</ion-button>
    </div>
</ion-content>
<ion-footer  *ngIf="appointment?.status=='upcoming'" class="ion-no-border">
    <ion-button (click)="getDirection()" expand="full">Get Direction</ion-button>
</ion-footer>