<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title mode="ios">Donnez une note</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
    <div class="bottom --flex-row-j!sb">
        <h3 class="rate_h">
            <ion-icon name="star" [ngClass]="rate >= 1 ? 'yellow-star' :'gray-star'" (click)="setRate(1)">
            </ion-icon>
            <ion-icon name="star" [ngClass]="rate >= 2 ? 'yellow-star' :'gray-star'" (click)="setRate(2)">
            </ion-icon>
            <ion-icon name="star" [ngClass]="rate >= 3 ? 'yellow-star' :'gray-star'" (click)="setRate(3)">
            </ion-icon>
            <ion-icon name="star" [ngClass]="rate >= 4 ? 'yellow-star' :'gray-star'" (click)="setRate(4)">
            </ion-icon>
            <ion-icon name="star" [ngClass]="rate >= 5 ? 'yellow-star' :'gray-star'" (click)="setRate(5)">
            </ion-icon>
        </h3>
    </div>
    <div class="experience">
        <p class="question">Comment était ton expérience?</p>
        <p class="answer">
            <ion-textarea rows="6" cols="30" [(ngModel)]="comment" placeholder="">
            </ion-textarea>
        </p>
    </div>
    <ion-button expand="full" (click)="submit()">Soumettre une note</ion-button>
</ion-content>