<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/appointment" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Ticket de paiement</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="AppointType=='Salon'">
    <div class="detail_div">
        <img class="salon_img" src="http://157.230.232.108{{ salon?.Logo?.url }}" slot="start"><br>
        <ion-label>
            <p class="salon_name">{{salon.name}}</p>
            <p class="address">{{salon.address}}</p>
            <p class="rate_div">
                <img class="star_img" src="../../assets/images/star.svg" height="22px" width="22px">4.0<img class="circle_icon" src="../../assets/images/circle.svg" height="6px" width="6px">
            </p>
        </ion-label>
    </div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Rendez-vous avec
    </div>
    <ion-item lines="none">
        <img slot="start" class="emp_img"  src="http://157.230.232.108{{ emp?.Photo?.url }}">
        <ion-label>{{emp.fullname}}</ion-label>

    </ion-item>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Heure de rendez-vous
    </div>
    <div class="time ion-padding-start">{{date  | date:'dd-MM-yyyy' }} à {{date  | date:'HH:mm' }}</div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Services sélectionnés<!--<span class="ion-float-end ion-padding-end" (click)="addNew()">+Ajouter un nouveau service</span>-->
    </div>
    
    <ion-row class="ion-padding-start" *ngFor="let service of serviceSelect">
        <ion-col size="9" class="service_name ion-no-padding">{{service.name}}<br><span>facial</span></ion-col>
        <ion-col size="2" class="price ion-no-padding">{{service.price}}€</ion-col>
        <!--<ion-col size="1" class="ion-no-padding" (click)="removeService(service)"><img src="../../assets/images/minus.svg" height="18px" width="18px">
        </ion-col>-->
    </ion-row>
    
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Détails de paiement
    </div>
    <ion-row class="ion-padding-start">
        <ion-col size="10" class="service_name ion-no-padding">Facture totale</ion-col>
        <ion-col size="2" class="price ion-no-padding">{{price}}€</ion-col>
    </ion-row>
    <ion-row class="ion-padding-start">
        <ion-col size="10" class="service_name ion-no-padding">Service Charge</ion-col>
        <ion-col size="2" class="price ion-no-padding">{{serviceCharge}}€</ion-col>
    </ion-row>
    <ion-row class="ion-padding-start" *ngIf="goodPromoCode">
        <ion-col size="10" class="service_name ion-no-padding">Code Promo</ion-col>
        <ion-col size="2" class="price ion-no-padding">{{amountPromo}}€</ion-col>
    </ion-row>
    <div class="main_head ion-padding-start ion-padding-top">Grand Total<span class="total ion-float-end ion-padding-end">{{ totalPrice }}€</span>
    </div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start ">Code promo</div>
    <div class="promo">
        <div class="promo-error" *ngIf="goodPromoCode==false" >{{ errorPromoCode }}</div>
        <ion-input disabled *ngIf="goodPromoCode" class="code" value="promoCode" [(ngModel)]="promoCode"></ion-input>
        <ion-input *ngIf="!goodPromoCode" class="code" value="promoCode" [(ngModel)]="promoCode"></ion-input>
        <ion-button *ngIf='!goodPromoCode' expand="block"  fill="outline" (click)="applyPromo()">Valider</ion-button>
    </div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start ">Sélectionnez le mode de paiement
    </div>
    <div class="payment_method ion-margin-horizontal">
        <div class="pay_div" >
            <div *ngFor="let pay of payment"><img src="{{pay?.icon}}" height="22px" width="22px">
                <p>{{pay.name}}</p>
                <label class="container">
                    <input type="radio" name="radio" value="{{pay.name}}" [(ngModel)]='paymentWith'>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</ion-content>

<ion-content *ngIf="AppointType=='Barber'">

    <div class="main_head ion-padding-start">Rendez-vous avec
    </div>
    <ion-item lines="none">
        <img slot="start" class="emp_img"  src="http://157.230.232.108{{ emp?.Photo?.url }}">
        <ion-label>{{barber.name}}</ion-label>

    </ion-item>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Adresse du rendez-vous
    </div>
    <div class="time ion-padding-start">{{ address }}</div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Heure de rendez-vous
    </div>
    <div class="time ion-padding-start">{{date  | date:'dd-MM-yyyy HH:mm' }}</div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Services sélectionnés<!--<span class="ion-float-end ion-padding-end" (click)="addNew()">+Ajouter un nouveau service</span>-->
    </div>
    
    <ion-row class="ion-padding-start" *ngFor="let service of serviceSelect">
        <ion-col size="9" class="service_name ion-no-padding">{{service.name}}<br><span>facial</span></ion-col>
        <ion-col size="2" class="price ion-no-padding">{{service.price}}€</ion-col>
        <!--<ion-col size="1" class="ion-no-padding" (click)="removeService(service)"><img src="../../assets/images/minus.svg" height="18px" width="18px">
        </ion-col>-->
    </ion-row>
    
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Détails de paiement
    </div>
    <ion-row class="ion-padding-start">
        <ion-col size="10" class="service_name ion-no-padding">Facture totale</ion-col>
        <ion-col size="2" class="price ion-no-padding">{{price}}€</ion-col>
    </ion-row>
    <ion-row class="ion-padding-start">
        <ion-col size="10" class="service_name ion-no-padding">Service Charge</ion-col>
        <ion-col size="2" class="price ion-no-padding">{{serviceCharge}}€</ion-col>
    </ion-row>
    <div class="main_head ion-padding-start ion-padding-top">Grand Total<span class="total ion-float-end ion-padding-end">{{ totalPrice }}€</span>
    </div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start ">Code promo</div>
    <div class="promo">
        <div class="promo-error" *ngIf="goodPromoCode==false" >{{ errorPromoCode }}</div>
        <ion-input disabled *ngIf="goodPromoCode" class="code" value="promoCode" [(ngModel)]="promoCode"></ion-input>
        <ion-input *ngIf="!goodPromoCode" class="code" value="promoCode" [(ngModel)]="promoCode"></ion-input>
        <ion-button *ngIf='!goodPromoCode' expand="block"  fill="outline" (click)="applyPromo()">Valider</ion-button>
    </div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start ">Sélectionnez le mode de paiement
    </div>
    <div class="payment_method ion-margin-horizontal">
        <div class="pay_div" >
            <div *ngFor="let pay of payment"><img src="{{pay?.icon}}" height="22px" width="22px">
                <p>{{pay.name}}</p>
                <label class="container">
                    <input type="radio" name="radio" value="{{pay.name}}" [(ngModel)]='paymentWith'>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-row>
        <ion-col size="6">
            <div class="total ion-text-left ion-margin-start ion-margin-top">Total :{{ totalPrice }}€</div>
        </ion-col>
        <ion-col size="6">
            <ion-button expand="block" (click)="makePayment()">Valider le paiement</ion-button>
        </ion-col>
    </ion-row>
</ion-footer>