<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/appointment" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Make a Payment</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="detail_div">
        <img class="salon_img" src="http://157.230.232.108{{ salon?.Logo?.url }}" slot="start"><br>
        <ion-label>
            <p class="salon_name">{{salon.name}}</p>
            <p class="address">{{salon.address}}</p>
            <p class="rate_div">
                <img class="star_img" src="../../assets/images/star.svg" height="22px" width="22px">4.0<img class="circle_icon" src="../../assets/images/circle.svg" height="6px" width="6px"><span class="ion-text-right">2.6km</span>
            </p>
        </ion-label>
    </div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Appointment With
    </div>
    <ion-item lines="none">
        <img slot="start" class="emp_img" src="../../assets/images/profile.png">
        <ion-label>{{emp.fullname}}</ion-label>

    </ion-item>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Appointment Time
    </div>
    <div class="time ion-padding-start">{{date}}</div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Services You Selected<span class="ion-float-end ion-padding-end" (click)="addNew()">+Add New
            Service</span>
    </div>
    <ion-row class="ion-padding-start">
        <ion-col size="9" class="service_name ion-no-padding">Smoothed Out Pixie<br><span>(Facial)</span></ion-col>
        <ion-col size="2" class="price ion-no-padding">$30</ion-col>
        <ion-col size="1" class="ion-no-padding"><img src="../../assets/images/minus.svg" height="18px" width="18px">
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-start">
        <ion-col size="9" class="service_name ion-no-padding">Ruby Fusion<br><span>(Color)</span></ion-col>
        <ion-col size="2" class="price ion-no-padding">$20</ion-col>
        <ion-col size="1" class="ion-no-padding"><img src="../../assets/images/minus.svg" height="18px" width="18px">
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-start">
        <ion-col size="9" class="service_name ion-no-padding">Custom 30 Minutes Facial<br><span>(Facial)</span>
        </ion-col>
        <ion-col size="2" class="price ion-no-padding">$30</ion-col>
        <ion-col size="1" class="ion-no-padding"><img src="../../assets/images/minus.svg" height="18px" width="18px">
        </ion-col>
    </ion-row>

    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start">Payment Details
    </div>
    <ion-row class="ion-padding-start">
        <ion-col size="10" class="service_name ion-no-padding">Total Bill</ion-col>
        <ion-col size="2" class="price ion-no-padding">$80</ion-col>
    </ion-row>
    <ion-row class="ion-padding-start">
        <ion-col size="10" class="service_name ion-no-padding">Service Charge</ion-col>
        <ion-col size="2" class="price ion-no-padding">$5</ion-col>
    </ion-row>
    <div class="main_head ion-padding-start ion-padding-top">Grand Total<span class="total ion-float-end ion-padding-end">$85</span>
    </div>
    <div class="border_bottom"></div>
    <div class="main_head ion-padding-start ">Select Payment Method
    </div>
    <div class="payment_method ion-margin-horizontal">
        <div class="pay_div">
            <div><img src="../../assets/images/paypal.svg" height="22px" width="22px">
                <p>PayPal</p>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div><img src="../../assets/images/razorpay.svg" height="22px" width="22px">
                <p>Razorpay</p>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div> <img src="../../assets/images/stripe.svg" height="22px" width="22px">
                <p>Stripe</p>
                <label class="container">
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div> <img src="../../assets/images/cod.svg" height="22px" width="22px">
                <p>COD
                </p>
                <label class="container">
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer class="ion-no-border">

    <ion-row>
        <ion-col size="6">
            <div class="total ion-text-left ion-margin-start ion-margin-top">Total : $85</div>
        </ion-col>
        <ion-col size="6">
            <ion-button expand="block" (click)="makePayment()">Make a Payment</ion-button>
        </ion-col>
    </ion-row>


</ion-footer>