<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="register" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Mot de passe oublié</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-text-center note_div">
        Saisissez votre adresse e-mail dans le champ ci-dessous pour recevoir le code de vérification par e-mail
    </div>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/at.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Email</div>
            <div class="">
                <ion-input [(ngModel)]="mail" type="mail" placeholder="Votre email"></ion-input>
            </div>
        </ion-label>
    </ion-item>
    <ion-button expand="full" (click)="verify()">Vérifier mon compte</ion-button>
</ion-content>
<ion-footer class="ion-no-border">
    <div class="ion-text-center">
        <div class="message">Si vous n'avez pas de compte <span class="clickhere" (click)="setAccount()">Cliquez
                ici</span> pour créer un compte.</div>
    </div>
</ion-footer>