<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="register" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-text-center note_div">
        Type your email ID in to the field below to receive verification code by E-mail
    </div>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/at.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Email</div>
            <div class="">
                <ion-input type="" placeholder="Enter Your Email"></ion-input>
            </div>
        </ion-label>
    </ion-item>
    <ion-button expand="full" (click)="verify()">Verify Account</ion-button>
</ion-content>
<ion-footer class="ion-no-border">
    <div class="ion-text-center">
        <div class="message">If you haven't account <span class="clickhere" (click)="setAccount()">click here</span> to set up a new account.</div>
    </div>
</ion-footer>