<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="date-time" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Select Employee</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="none" *ngFor="let emp of employee">
        <img slot="start" class="emp_img" src="../../assets/images/profile.png">
        <ion-label>Elizabeth</ion-label>

        <img src="../../assets/images/checkback.svg" slot="end">
    </ion-item>
    <ion-item lines="none" *ngFor="let emp of employee">
        <img slot="start" class="emp_img" src="../../assets/images/profile.png">
        <ion-label>Elizabeth</ion-label>

        <img src="../../assets/images/checkback.svg" slot="end">
    </ion-item>

</ion-content>
<ion-footer class="ion-no-border">
    <ion-button expand="full" (click)="payment()">Select Payment Method</ion-button>
</ion-footer>