
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <div slot="start" class="ion-no-margin ion-margin-end" (click)="geolocaliseMoi()">
        <img class="" src="../../assets/images/location.svg" height="18px" width="15px" />
      </div>
      <ion-label>
        <div class="name">Localisation actuelle</div>
        <ion-input type="" placeholder="{{position}}" readonly></ion-input>
      </ion-label>
      <div slot="end" class="ion-no-margin ion-margin-end" (click)="setLocation()">
        <img class="" src="../../assets/images/search.svg" height="18px" width="18px" />
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div [ngSwitch]="select">

    <div *ngSwitchCase="'salon'">

      <div class="salon-item"  *ngFor="let item of salons" style="background-image:url('http://157.230.232.108{{ item?.Logo?.url }}');background-size:cover;" (click)="salonProfile(item)"  >
        <ion-avatar>
            <img src="http://157.230.232.108{{ item?.Logo?.url }}">         
        </ion-avatar>
        <div class="salon-infos">
            <div>
                <a class="salon-name" >{{ item?.name }}</a>                        
                <p class="salon-addr">{{ item?.address }}</p>
            </div>                           
        </div>    
    </div> 

    </div>

    <div [hidden]="select !='barber'">
      
      <div class="salon-item"  *ngFor="let item of barbers" style="background-image:url('http://157.230.232.108{{ item?.logo?.url }}');background-size:cover;" (click)="barbeurProfile(item)" >
        <ion-avatar>
            <img src="http://157.230.232.108{{ item?.logo?.url }}">         
        </ion-avatar>
        <div class="salon-infos">
            <div>
                <a class="salon-name" >{{ item?.name }}</a>
                <p class="salon-addr">{{ item?.address }}</p>
            </div>                           
        </div>    
    </div> 
    
    </div>
  </div>



</ion-content>

<ion-footer>
  <div class="section" [ngClass]="{'fix-segment': fixSegment==2}">
    <ion-segment mode="md" [(ngModel)]="select" value="all">
      <ion-segment-button mode="md" value="salon">Salon
        <div *ngIf="select == 'salon'" class="seg-button"></div>
      </ion-segment-button>
      <ion-segment-button mode="md" value="barber">Barbeur
        <div *ngIf="select == 'barber'" class="seg-button2"></div>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="border"></div>
</ion-footer>