<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <div slot="start" class="ion-no-margin ion-margin-end">
        <img class="" src="../../assets/images/location.svg" height="18px" width="15px" />
      </div>
      <ion-label>
        <div class="name">Localisation actuelle</div>
        <ion-input type="" placeholder="Avenue de la liberté, Cayenne" readonly></ion-input>
      </ion-label>
      <div slot="end" class="ion-no-margin ion-margin-end" (click)="setLocation()">
        <img class="" src="../../assets/images/search.svg" height="18px" width="18px" />
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let salon of salons" (click)="salonProfile(salon)">
    <img src="http://157.230.232.108{{ salon?.Logo?.url }}" />
    <div class="card-title">{{ salon?.name }}</div>
    <div class="card-subtitle">{{ salon?.km}}</div>
  </ion-card>
</ion-content>