<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login" text="" mode="md">
                <img src="../../assets/images/back.svg">
            </ion-back-button>
        </ion-buttons>
        <ion-title mode="ios">Créer un Compte</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/user.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Nom complet</div>
            <ion-input [(ngModel)]="name" type="text" placeholder="Votre nom complet"></ion-input>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/at.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Email</div>
            <ion-input [(ngModel)]="email" type="email" placeholder="Votre email"></ion-input>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/gender.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Civilité</div>
            <ion-row class="ion-padding-top">
                <ion-col size="4" class="ion-no-padding">
                    <label class="container">M
                        <input type="radio" checked="checked" name="radio" value="Homme" [(ngModel)]="sexe">
                        <span class="checkmark"></span>
                    </label></ion-col>
                <ion-col size="4" class="ion-no-padding"> <label class="container">F
                        <input type="radio" name="radio" value="Femme" [(ngModel)]="sexe">
                        <span class="checkmark"></span>
                    </label></ion-col>
            </ion-row>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/padlock.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Mot de passe</div>
            <ion-input [(ngModel)]="password" type="password" placeholder="Tapez votre mot de passe"></ion-input>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/padlock.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Confirmer mot de passe</div>
            <div class="password">
                <ion-input type="password" placeholder="Retaper le mot de passe"  [(ngModel)]="confirmpassword"></ion-input>
            </div>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <div slot="start">
            <img class="" src="../../assets/images/phone.svg" height="32px" width="32px">
        </div>
        <ion-label>
            <div class="name">Tel.</div>
            <ion-input type="number" placeholder="0694******" [(ngModel)]="contact"> </ion-input>
        </ion-label>
    </ion-item>
    <ion-button expand="full" (click)="signup()">Créer un nouveau compte</ion-button>
    <div class="ion-text-center">
        <div class="message">Vous avez déjà un compte ? <span class="login" (click)="login()">Connectez-vous !</span>
        </div>
    </div>
</ion-content>